
@model FlowerShop.Models.Shipping

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    <section class="content-header">
        <h1>
            Edit Employee
            <small><a href="@Url.Action("Index", "Shippers")"><< Back to Shippings list</a></small>
        </h1>
        <ol class="breadcrumb">
            @*<li><a href="/Admin/Index"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Product</a></li>*@
            <button type="submit" class="btn btn-info">Save</button>
        </ol>
    </section>

    @Html.AntiForgeryToken()
    <!-- Main content -->
    <section class="content" style="margin-top: 10px">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="nav-tabs-custom">
                        <!-- Tabs within a box -->
                        <ul class="nav nav-tabs pull-right">
                            <li class="active pull-left"><a href="#product-info" data-toggle="tab">Shipping Info</a></li>


                        </ul>
                        <div class="tab-content no-padding">
                            <!-- Morris chart - Sales -->
                            <div class="chart tab-pane active" id="product-info">
                                <div class="col-md-6" style="margin-top: 10px">
                                    <!-- TABLE: LATEST ORDERS -->
                                    <div class="box box-info">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Shipping Infomation</h3>
                                            <div class="box-tools pull-right">
                                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                            </div>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <div class="form-horizontal">



                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-3 control-label">Shipping Name</label>
                                                    <div class="col-sm-9">
                                                        @Html.EditorFor(model => model.ShippingName, new { htmlAttributes = new { @class = "form-control", placeholder = "Employee Name" } })
                                                        @Html.ValidationMessageFor(model => model.ShippingName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                                                    <div class="col-sm-9">
                                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Phone" } })
                                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-3 control-label">Phone</label>
                                                    <div class="col-sm-9">
                                                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Phone" } })
                                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-3 control-label">Address</label>
                                                    <div class="col-sm-9">
                                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Gender" } })
                                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                               

                                            </div>

                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>



                            </div>


                        </div>
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
            </div>
        </div>
        <!-- /.col -->
    </section>
    <!-- /.content -->

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



<!--load image tạm thời-->
@*<script type="text/javascript">
        var file = document.getElementById('chooseimg');
        var img = document.getElementById('image');
        file.addEventListener("change", function () {
            if (this.value) {
                console.log(this.files)
                var file = this.files[0];
                var reader = new FileReader();
                reader.onloadend = function () {
                    img.src = reader.result;
                };
                reader.readAsDataURL(file);
            }
        });
    </script>*@