@using FlowerShop.Models;

@{
    ViewBag.Title = "Index";

    var products = ViewBag.products as List<Product>;
    var customer = ViewBag.cus as List<Customer>;
}

<section class="content-header">
    <h1>
        Dashboard
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin/Index"><i class="fa fa-dashboard"></i> Home</a></li>
    </ol>
</section>

<div class="chart tab-pane active" id="product-info">
    <div class="col-md-6" style="margin-top: 10px">
        <!-- TABLE: LATEST ORDERS -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Sản Phẩm Bán Chạy</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="form-horizontal">

                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Products Name</th>
                            <th>Quantity</th>
                            <th style="width: 40px">Total</th>
                            <th>View</th>
                        </tr>
                        @foreach (var item in products)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.ProductName</td>
                                <td>@item.OrderDetails.Sum(x => x.Quantity)</td>
                                <td>@item.OrderDetails.Sum(o => (o.UnitPrice - o.Discount) * o.Quantity).ToString("N0")</td>
                                <td>
                                    <a href="@Url.Action("Edit", "Products", new { id = item.Id })" class="btn btn-instagram btn-block btn-xs"><i class="fa fa-eye"></i> View</a>
                                </td>
                                @*<td><span class="badge bg-red">55%</span></td>*@
                            </tr>
                        }
                    </table>

                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>

</div>

<div class="chart tab-pane active" id="product-info">
    <div class="col-md-6" style="margin-top: 10px">
        <!-- TABLE: LATEST ORDERS -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Khách hàng mới</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="form-horizontal">

                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Customers Name</th>
                            <th>Phone Number</th>
                            <th style="width: 40px">Total</th>
                            <th>View</th>
                        </tr>
                        @foreach(var item in customer)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.CustomerName</td>
                            </tr>
                        }

                    </table>

                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>

</div>

