@model FlowerShop.Models.ChangePasswordVM

<form method="post" action="/Customer/ChangePassword" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-fild">
            <p><label>Password<span class="required">*</span></label></p>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>

        <div class="form-fild">
            <p><label>New Password<span class="required">*</span></label></p>
            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
        </div>

        <div class="form-fild">
            <p><label>RePassword<span class="required">*</span></label></p>
            @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
        </div>

        <div class="register-submit">
            <button type="submit" class="form-button btn_changepassword">Register</button>
        </div>
    </div>
</form>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



<script>
    $(document).ready(function () {

        $("#btn_changepassword").submit(function () {

            $.ajax({
                url: this.action,
                type: "post",
                data: $(this).serialize(),
                success: function (response) {
                    if (response == "OK") {
                        alert("Change Password successfully!");
                        location.href = "/Home";
                    }
                    else {
                        alert(response);
                    }
                }
            });
            return false;
        });


    });
</script>