@model FlowerShop.Models.UpdateProfileVM
@using FlowerShop.Models

<form method="post" action="/Customer/UpdateProfile" enctype="multipart/form-data">
    <div class="form-fild">
        <p><label>Họ Và Tên<span class="required">*</span></label></p>
        @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
    </div>
    <div class="form-fild">
        <p><label>Số Điện Thoại<span class="required">*</span></label></p>
        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
    </div>
    <div class="form-fild">
        <p><label>Địa Chỉ<span class="required">*</span></label></p>
        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
    </div>

    <div class="form-fild">
        <p><label>Ảnh Đại Diện</label></p>
        <input type="file" name="img" />
    </div>
    @if (Model.ImageUrl == null)
    {
        <img src="~/Uploads/Default/1.jpg" height="400" />
    }
    else
    {
        using (var db = new FlowerShoppingEntities())
        {
            var cus = db.Customers.SingleOrDefault(x => x.Email.Equals(User.Identity.Name));
            <img src="~/Uploads/Customers/@cus.Id/@Model.ImageUrl" height="400" />
        }
        
    }


    <div class="register-submit">
        <button type="submit" class="form-button">Register</button>
    </div>
    <div class="register-submit">
        @ViewBag.Msg
    </div>
</form>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
