@model IEnumerable<FlowerShop.Models.Category>
@using FlowerShop.Models

@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <h1>
        Categories
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Categories</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    @*<h3 class="box-title" style="float:left">Sản Phẩm</h3>*@
                </div>
                @using (Html.BeginForm())
                {
                    <div class="input-group" style="margin-left: 10px; width: 98%">
                        <div style="float:left">
                            <input type="text" name="kw" class="form-control" placeholder="Search..." style="width: 300px">
                            <span>
                                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div style="text-align: right">
                            <a href="@Url.Action("Index", "Topics")" class="btn btn-success">Topic</a>
                        </div>
                    </div>
                }
                <!-- /.box-header -->
                <div class="box-body">
                    @if (ViewBag.Create == "True")
                    {
                        <a href="@Url.Action("Create", "Categories")" class="btn btn-block btn-success myaction" style="margin-bottom: 20px">Add New Category</a>
                    }
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Topic Name</th>
                                <th>Category Name</th>
                                <th>Show Home Page</th>
                                <th>Create Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Topic.TopicName</td>
                                    <td>@item.CategoryName</td>
                                    <td>@item.ShowHomePage</td>
                                    <td>@item.CreateDate.ToString("dd/MM/yyyy")</td>

                                    @if (ViewBag.Edit == "True")
                                    {
                                        <td>
                                            <a href="@Url.Action("Edit", "Categories", new { id = item.Id })" class="btn btn-instagram btn-block myaction">Edit</a>

                                        </td>
                                    }
                                    @if (ViewBag.Delete == "True")
                                    {
                                        var count = item.Products_Categories_Mapping.Count;
                                        if (count == 0)
                                        {
                                            <td><button class="btn_delete_category btn btn-danger btn-block" pid="@item.Id">Delete</button></td>
                                        }
                                    }

                                </tr>
                            }
                        </tbody>

                    </table>
                    @*<p>
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, kw = ViewBag.kw, sort = ViewBag.sort }))
                        </p>*@

                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<script>

    $(document).ready(function () {

        // ở đây là đoạn code sử dụng ajax post để xử lý delete một category
        // khi mình click vào button có class="btn_delete_category" nó sẽ chạy vào đoạn code phía dưới
        $(".btn_delete_category").click(function () {

            // trong button đó có một cái thuộc tính là pid="id của category mà mình bấm"
            var btn = $(this);
            var pid = btn.attr("pid");

            // confirm("Bạn Có Muốn Xóa Danh Mục Này?") nghĩa là hiện lên một thông báo có muốn xóa không với 2 chữ yes - no
            // nếu bấm no nó sẽ hủy không chạy tiếp
            // nếu bấm yes no sẽ tiếp tục chạy vào trong
            if (confirm("Bạn Có Muốn Xóa Danh Mục Này?")) {
                // đây là bắt đầu ajax
                $.ajax({
                    // url là đường dẫn sẽ post lên đâu để xử lý
                    url: '/Admin/Categories/Delete',
                    // type là thuộc tính, ajax có nhiều thuộc tính vd như post, get, load
                    type: "POST",
                    // data là cái mình sẽ chuyển lên trên Action detele để nó nhận vào, ở đây là truyền id lên
                    data: "id=" + pid,
                    // success là nếu thành công post lên nó sẽ chạy vào tiếp
                    success: function (response) {
                        //alert(response);
                        // nếu Action truyền ra chữ "Ok" có nghĩa là đã delete thành công
                        if (response == "OK") {
                            // btn.parent().parent().remove() đây là javascrip dùng để xóa cái hiển thị ra ngoài View,
                            // nếu không có dòng này thì khi mình delete thành công mình phải f5 reload lại trang nó mới mất,
                            // nhưng thực chất là trong database đã mất rồi mà ở ngoài view nó chưa xóa, nên mới sử dụng đoạn này để xóa ngoài View
                            btn.parent().parent().remove();
                        }
                        else {
                            // nếu không thành công sẽ trả lỗi ra
                            alert(response);
                        }
                    }
                });
            }

        });


    });
</script>