@model PagedList.IPagedList<FlowerShop.Models.System_Logs>
@using PagedList.Mvc;

@{
    ViewBag.Title = "SystemLogs";
}

<section class="content-header">
    <h1>
        System Logs
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">System Logs</a></li>
    </ol>
</section>


<div class="chart tab-pane" id="product-pic">
    <div class="col-md-12" style="margin-top: 10px">

        <div class="box box-info">
            @using (Html.BeginForm())
            {
                <div class="box-body">
                    <div class="form-horizontal">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">Type</label>

                                <div class="col-sm-9">
                                    @Html.DropDownList("TypeId", null, htmlAttributes: new { @class = "form-control kw_type select2" })
                                </div>
                                <script>
                                    $(".kw_type").val("")
                                    $('.select2').select2();
                                </script>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">Employee name</label>

                                <div class="col-sm-9">
                                    <input name="kw_employeename" type="text" class="form-control" id="inputEmail3" placeholder="Employee name">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">Message</label>

                                <div class="col-sm-9">
                                    <input name="kw_message" type="text" class="form-control" id="inputEmail3" placeholder="Message">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">Date range</label>

                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="reservation" name="kw_daterange">
                                    </div>
                                </div>
                                <script>
                                    $(function () {
                                        //Date range picker
                                        $('#reservation').daterangepicker()
                                        $('#reservation').val("")
                                    })
                                </script>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer" style="text-align:center">
                    <button type="submit" name="search" class="btn btn-success">Search</button>
                </div>
                <!-- /.box-footer -->

                <script>
                    $(function () {
                        /* BOOTSTRAP SLIDER */
                        $('.slider').slider()
                    })
                </script>

            }
        </div>
        <!-- /.box -->
    </div>
</div>

<!-- Main content -->
<section class="content" style="margin-top: -30px">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    @*<h3 class="box-title" style="float:left">Sản Phẩm</h3>*@
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Employee Name</th>
                                <th>Type</th>
                                <th>Message</th>
                                <th>Create Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Employee.EmployeeName</td>
                                    <td>@item.Log_Types.Log_Type_Name</td>
                                    <td>@item.Message</td>
                                    <td>@item.RegisterDate.ToString("dd/MM/yyyy - HH:mm:ss")</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                    <p>
                        @Html.PagedListPager(Model, page => Url.Action("SystemLogs", new { page, TypeId = ViewBag.Type_log, kw_employeename = ViewBag.kw_employeename, kw_daterange = ViewBag.kw_daterange, kw_message = ViewBag.kw_message }))
                    </p>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
