@model IEnumerable<FlowerShop.Models.Category>

<div class="row">
    <div class="cat-1 col-md-4">
        <div class="categories-img img-full mb-30">
            <a href="https://demo5009.web30s.vn/cay-de-ban"><img src="https://cdn.web30s.vn/datafiles/18352/upload/images/danhmuc/home1-category-1.jpg" alt=""></a>
            <div class="categories-content">
                <h3>@Model.First().CategoryName</h3>
                <h4>@Model.First().Products_Categories_Mapping.Count() Sản Phẩm</h4>
            </div>
        </div>
    </div>
    <div class="cat-2 col-md-8">
        <div class="row">
            <div class="cat-3 col-md-7">
                <div class="categories-img img-full mb-30">
                    <a href="https://demo5009.web30s.vn/cay-thuy-sinh"><img src="https://cdn.web30s.vn/datafiles/18352/upload/images/danhmuc/home1-category-2.jpg" alt=""></a>
                    <div class="categories-content">
                        <h3>@Model.Skip(1).First().CategoryName</h3>
                        <h4>@Model.Skip(1).First().Products_Categories_Mapping.Count() Sản Phẩm</h4>
                    </div>
                </div>
            </div>
            <div class="cat-4 col-md-5">
                <div class="categories-img img-full mb-30">
                    <a href="https://demo5009.web30s.vn/cay-canh-van-phong"><img src="https://cdn.web30s.vn/datafiles/18352/upload/images/danhmuc/home1-category-3.jpg" alt=""></a>
                    <div class="categories-content">
                        <h3>@Model.Skip(2).First().CategoryName</h3>
                        <h4>@Model.Skip(2).First().Products_Categories_Mapping.Count() Sản Phẩm</h4>
                    </div>
                </div>
            </div>
            <div class="cat-5 col-md-4">
                <div class="categories-img img-full mb-30">
                    <a href="https://demo5009.web30s.vn/combo-cay-de-ban"><img src="https://cdn.web30s.vn/datafiles/18352/upload/images/danhmuc/home1-category-4.jpg" alt=""></a>
                    <div class="categories-content">
                        <h3>@Model.Skip(3).First().CategoryName</h3>
                        <h4>@Model.Skip(3).First().Products_Categories_Mapping.Count() Sản Phẩm</h4>
                    </div>
                </div>
            </div>
            <div class="cat-6 col-md-8">
                <div class="categories-img img-full mb-30">
                    <a href="https://demo5009.web30s.vn/cay-phong-thuy"><img src="https://cdn.web30s.vn/datafiles/18352/upload/images/danhmuc/home1-category-5.jpg" alt=""></a>
                    <div class="categories-content">
                        <h3>@Model.Skip(4).First().CategoryName</h3>
                        <h4>@Model.Skip(4).First().Products_Categories_Mapping.Count() Sản Phẩm</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>